@mixin message-style($bg-color, $alignment) {
    background-color: $bg-color;
    @if $alignment=="right"{
        margin-left: auto;
    }
  }
  
  .message {
   
    max-width: 50%;
    width: fit-content;
    border-radius: 5px 15px;
    padding: 10px 25px;
    margin-bottom: 10px;

    &.user-message {
      @include message-style(#0088cc, right);
    }
  
    &.other-user-message {
      @include message-style(#176b92, left);
    }
  }
  
  