@use "./variables" as vars;

.message_form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 1140px; 
  bottom: 10;
  left: auto;
  right: auto;
  box-sizing: border-box;
  background:vars.$bg_color;;
}

.message_form .input_wrapper {
  flex: 1;
  margin-right: 10px;
}
